<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>托管师登录</title>
</head>
<body>
    <form action="#" method="post">
    <ul>
        <li>
            姓&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" name="Name">
        </li>
        <br/>
        <li>
            电话&nbsp;号码：<input type="text" name="Tel">
        </li>
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="确定">
    </ul>
    </form>
</body>
</html>